table, th, td {
  border: 1px solid;
}

.large-text-wrap {
  inline-size: 600px; 
}

.primary-button {
      border: 2px solid;
      border-radius: 24px;
      background-image: linear-gradient(hsl(128, 77%, 81%), #8b93f2);
}

.secondary-button {
      border:2px solid #949494;
      border-radius: 15px 50px;
      background: #5a76f0;
}
